body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

.clear {
	height: 0;
	clear: both;
}

#page
{

}

#header
{
	/*border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;*/
	display: block;
	height: 80px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 20px;
	z-index: 10;
	background: #EFEFEF;
	width: 100%;
}

#top-menu
{
	background: #C9E0ED;position: fixed; display: block; width: 100%; z-index: 1000; top: 0;
}

.sf-menu {
	float: left;
	margin-bottom: 0 !important;
}

#content
{
	clear: left;
	margin-bottom: 30px;
}

#import-screen,
#home-screen,
#static-page,
#clients-screen,
#users-screen,
#instances-screen,
#search-screen { padding: 0 20px; margin: 20px 0; }

#sidebar { padding: 20px 20px 20px 0;}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a, .tabmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#logo-tag
{
	padding: 7px 20px 0;
	width: 200px;
	clear:right;
	float:left;
	font-size: 0.9em
}

#application-title
{
	padding: 30px 0px 20px 20px;
	float: left;
	position: relative;
	text-align: left;
	width: 800px;
	font-size:1.8em;

}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	padding: 5px 10px 0 0;
}

div.wide.form label,
#serch-screen-form label {
	width: 200px;
	font-size: 1em;
}

#serch-screen-form select {
	width: 800px;
}

#serch-screen-form input[type="text"] {
	width: 800px;
}

#serch-screen-form .hint { padding-left: 220px; width: 816px;}

#search-present-employer,
#search-past-employer
{
	width: 500px !important;
}

#search-present-employer-auto,
#search-past-employer-auto
{
	width: 280px !important;
}

input[type="text"], input[type="password"] {
	width: 300px;
	padding: 5px 5px 5px;
	color: #636363;
	font-family: Tahoma, Geneva, sans-serif;
}

table thead input[type="text"] {
	width: 98% !important;
	padding: 2px;
	color: #636363;
	font-family: Tahoma, Geneva, sans-serif;
}

.tabmenu { background: #FFF url(bg.gif) repeat-x left top; position: fixed; top: 100px; width: 100%; z-index: 100;}

.tabmenu ul
{
	padding: 6px 20px 5px 20px;
	margin: 0px;
}

.tabmenu ul li
{
	display: inline;
}

.tabmenu  ul li a
{
	color: white;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
}

.tabmenu ul li a:hover,
.tabmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

.profile-view
{
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

.profile-view h1 {margin-bottom: 1.3em; top: 1em; position: relative;}
.profile-view h3
{
	padding: 10px 0 0 0;
	margin-bottom: 0.3em;
	border-bottom: 1px #CCC solid;
}

.profile-actions
{
	padding: 5px;
	background: #ccc;
	line-height:15px;
	overflow: hidden;
	margin-bottom: 4px;
	position: fixed;
	top: 125px;
	width: 100%;
	z-index: 10;
}
#employees-grid .summary {
	position: fixed;
	right: 15px;
	top: 130px;
	z-index: 10;
}

.profile-view .profile-actions
{
	padding: 5px;
	background: #ccc;
	line-height:15px;
	overflow: hidden;
	margin-bottom: 4px;
	position: fixed;
	top: 125px;
	width: 889px;
	z-index: 10;
}
.profile-actions span
{
	padding: 0 15px 0 0;
	line-height: 25px;
	float: right;
}

.profile-actions .search-button,
.profile-actions .show-selected
{
	float:right;
}

.profile-data
{
	padding: 0px 10px 25px 10px;
	border: 1px solid #666666;
	width: 877px;
	margin: 61px 0 2px 0;
}

#profile-area .jspVerticalBar
{
	right: 20px !important;
	margin-right: -19px !important;
}

.profile-notes
{
	position: fixed;
	bottom: 0;
	height: 150px;
	width: 877px;
	background: white;
	padding: 0 10px;
	border: 1px solid #666666;
}

#footer
{
	position: fixed;
	bottom: 0;
	padding: 5px;
	margin: 0 16px;
	width: 96%;
	font-size: 0.7em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
	background: #EFEFEF;
}


.grid-view {
	padding: 54px 10px !important; z-index:20;
}

.tooltip
{
	background-color:#EEE;
	padding: 15px;
	border: 1px #ccc solid;
	width: 500px;
	z-index: 1000;
}

#companies-grid .summary
{
	float: left;
	position: fixed;
	top: 130px;
	z-index: 10;
	margin: 0 0 -20px 0 !important;
}

#notes-area
{
	width: 900px;
}

#notes-area .jspVerticalBar
{
	position: absolute;
	top: 0;
	margin-right: 14px;
	width: 16px;
	height: 100%;
	background: red;
}

.grid-view table.items tr td {cursor: pointer}

#yw0 {position: relative;}
#top-menu #yw0 {top:0px;}
.search-word {color:#00F;font-weight: bold;}

#db-list { padding: 0 0 0 25px; list-style-type: none;}

#db-list li
{
	font-size: 1.2em;
	line-height: 1.7em;
}
#db-list li .ui-icon-folder-open
{
	float:left;
	padding: 0 5px 0;
	width: 10px;
	margin-top:5px;
}
#printable {padding:10px;}
#serch-screen-form {padding-bottom: 30px; display: block; top: 50px; position: relative;}
.grid-view .pager { margin: 5px 0 !important; }

table .filters {background-color:#EEE;}
#employees-grid table thead {position: fixed; width:98%; z-index: 10; top: 150px}
#employees-grid table tbody {display: block; padding: 57px 0 0; position: relative; width: 100%;}
#employees-grid table tbody tr .column-1 {width: 19px;}
#employees-grid table tbody tr .column-2 {width: 15px;}
#employees-grid table tbody tr .column-3 {width: 149px;}
#employees-grid table tbody tr .column-4 {width: 149px;}
#employees-grid table tbody tr .column-5 {width: 149px;}
#employees-grid table tbody tr .column-6 {width: 149px;}
#employees-grid table tbody tr .column-7 {width: 499px;}
#employees-grid table tbody tr .column-8 {width: 54px;}

#companies-grid {padding: 59px 10px !important;}
#companies-grid table {margin: 0 auto; width: 1064px;}
#companies-grid table thead {position: fixed; width:98%; z-index: 10; top: 156px;}
#companies-grid table tbody {display: block; padding: 57px 0 0; position: relative; width: 100%;}
#companies-grid table tbody tr .column-1 {width: 19px;}
#companies-grid table tbody tr .column-2 {width: 15px;}
#companies-grid table tbody tr .column-3 {width: 300px;}
#companies-grid table tbody tr .column-4 {width: 149px;}
#companies-grid table tbody tr .column-5 {width: 150px;}
#companies-grid table tbody tr .column-6 {width: 150px;}
#companies-grid table tbody tr .column-7 {width: 150px;}
#companies-grid table tbody tr .column-8 {width: 60px;}

div.wide.form .buttons-top {position: fixed !important; right: 10%; top: 97px !important; z-index: 100;}
