/.settings
/.buildpath
/.project
assets/*
runtime/*
protected/data/*.db
protected/config/main.php
protected/tests/report/*
protected/runtime/*
*.swp
yii/*
/sources
/nbproject/private/
nbproject/*
protected/extensions/GetUserNotes.php
